.other-artists {
	margin: 5px;
	padding: 5px;
	background-color: whitesmoke;
}

.ui.cards>.card>.content p {
	color: rgb(124, 97, 97);
	font-size: 1.2em;
	text-transform: uppercase;
}

.ui.header > .icon {
	color: rgb(230, 85, 13);
}