<!doctype html>
<html ng-app="artist">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Follow Up</title>
    <!-- <link rel="shortcut icon" href="img/logo.png"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/dist/components/item.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/dist/components/card.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/dist/components/grid.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="/lib/semantic-ui/dist/semantic.min.css">
    <script src="/js/artist-ng.js"></script>

    <!--FOR CAROUSEL --> 
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
  	<link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
  	<script src="/js/script.js"></script>

    <style>
    	body{
    		background-color:black;
    	}
    	h1{
    		color:white;
    		padding-top: 10px;
    		padding-bottom:10px;
    	}
    </style>


</head>
<body>
	<div ng-controller="artistController" ng-init="artist = <%= JSON.stringify(artist) %>; getSimilar(artist);"> 
	<div class="ui left aligned stackable grid container">
    	<div class="row">
    		<div class="three wide left column">
    			<img src="../assets/sam smith.png">
    		</div>
    		<div class="thirteen wide left floated column">
    			<img src="../assets/Sam.png">
    		</div>

			<!-- <div class="ui text container">
				<h1>{{ artist }}</h1>
			</div> -->
    	</div>
	</div>

	<div class="ui text container">
		<div class="ui link three cards" >
		  <div class="card" ng-repeat="person in similarArtists.similarartists.artist | limitTo: 9">
		    <a href="http://{{ person.url }}" class="image" style="overflow:hidden;">
		      <img src="{{ person.image[3]['#text'] }}" style="height: 200px;">
		    </a>
			    <div class="content">
			      <div class="header">{{ place.name }}</div>
			      <div class="meta">
			        <p>{{ person.name }}</p>
			      </div>
			      <div class="description">
			        Match: <b>{{ toPercent(person.match) }}%</b>
			      </div>
			    </div>
		  </div>		  
		</div>
		<!-- <div class="ui items">
		  <div class="item" ng-repeat="person in similarArtists.similarartists.artist | limitTo: 10">
		    <a class="ui tiny image">
		      <img src="{{ person.image[1]['#text'] }}">
		    </a>
		    <div class="content">
		      <a class="header"> {{ person.name }} </a>
		      <div class="description">
		        <p> {{ person.match * 100 }}%</p>
		      </div>
		    </div>
		  </div>
		</div> -->
		
	</div>
	</div>

	<style>
		h1{
			color:rgb(230, 85, 13);;
			font-size: 300%;
			text-align: center;
		}
		hr{
			color:white;
			/*padding-bottom: 5px;*/
		}
	</style>
	<div class="ui vertical stripe segment">
		<div class="ui text container">
    			<h1> MERCH </h1>
    	</div>
    	<hr>
    	<div class="ui middle aligned stackable grid container">
    		<div class="row">
			  <div class="your-class">
			    <div><img src="../assets/china1.png"></div>
			    <div><img src="../assets/china2.png"></div>
			    <div><img src="../assets/china3.png"></div>
			  </div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>


</body>

</html>