<!doctype html>
<html ng-app="artist">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Follow Up</title>
    <link rel="shortcut icon" href="/img/assets/Logos/logo.png">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/dist/components/item.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/dist/components/card.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/dist/components/grid.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/artist.css">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="/lib/semantic-ui/dist/semantic.min.css">
    <script src="/js/artist-ng.js"></script>

    <!--FOR CAROUSEL --> 
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
  	<link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
  	<script src="/lib/moment/min/moment.min.js"></script>
  	<script src="/js/script.js"></script>

    <style>
    	body{
    		background: rgba(255, 237, 216, 0.22);
    		/*background: rgb(248, 237, 223);;*/
    	}
    	#main-container {
    		background: white;
    		box-shadow: 1px 1px solid black;
    		/*background: rgba(255, 237, 216, 0.22);*/
    		padding: 30px;
    		max-width: 900px!important;
    	}
    	h1{
    		color:rgb(230, 85, 13);;
    		font-size: 300%;
    		text-align: center;
    	}
    	hr{
    		color:white;
    		/*padding-bottom: 5px;*/
    	}
    	.ui.secondary.menu a.item:hover {
    		background: rgba(226, 65, 43, 0.16);
    	}
    	div.content {
    		color: rgb(75, 67, 67);
    	}
    </style>

</head>

<body ng-controller="artistController" ng-init="artist = <%= JSON.stringify(artist) %>; getSimilar(artist); getEvents(artist); getPicture(artist);">
	
	<div id="banner-container">

		<div class="ui borderless secondary menu">
		  <div class="ui text container navbar">
		    <div href="#" class="header item">
		      <img class="logo" src="/img/assets/Logos/logo.png">
		      &nbsp; Follow Up
		    </div>
		    <a href="/" class="item">Home</a>
		    <a href="/main" class="item">Stats</a>
		    <div class="right menu">
		      <div class="ui item">
		        {{ user.fb.displayName }}
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<h2 class="ui center aligned icon header" style="margin-bottom: 30px;">
		<!-- <img src="../img/assets/sam smith.png" style="height:200px; width: 200px;"> -->
	  <!-- <i class="circular users icon"></i> -->
		<div style="height: 200px; width: 200px; background: url('{{ picture }}'); margin: 0 auto; border-radius: 100px;"></div>

	  <h1 style="text-align: center; margin-top: -20px;">{{ artist }}</h1>
	</h2>

	<div class="ui text container" id="main-container">
		<h2 class="ui header">
			<i class="sound icon"></i>
		  <!-- <img src="/images/icons/plugin.png"> -->
		  <div class="content">
		    Discography
		    <div class="sub header"></div>
		  </div>
		</h2>

		<div class="ui  three cards" >
		  <div class="card">
		    <!-- <a href="http://{{ person.url }}" class="image" style="overflow:hidden;"> -->
		      <img src="/img/assets/albumArt/smith2.jpeg" style="height: 200px;">
		   <!--  </a> -->
			    <div class="content">
			      <div class="header">The Lost Tapes - Remix</div>
<!-- 			      <div class="meta">
			        <p>{{ person.name }}</p>
			      </div> -->
			      <div class="description">
			        2015: <b>9 tracks</b>
			      </div>
			    </div>
		  </div>	
		  <div class="card" >
		    <!-- <a href="http://{{ person.url }}" class="image" style="overflow:hidden;"> -->
		      <img src="/img/assets/albumArt/smith1.jpg" style="height: 200px;">
		   <!--  </a> -->
			    <div class="content">
			      <div class="header"> In The Lonely Hour</div>
<!-- 			      <div class="meta">
			        <p>{{ person.name }}</p>
			      </div> -->
			      <div class="description">
			        2014: <b>15 tracks</b>
			      </div>
			    </div>
		  </div>	
		  <div class="card">
		    <!-- <a href="http://{{ person.url }}" class="image" style="overflow:hidden;"> -->
		      <img src="/img/assets/albumArt/smith3.jpg" style="height: 200px;">
		   <!--  </a> -->
			    <div class="content">
			      <div class="header">Nirvana</div>
	<!-- 			      <div class="meta">
			        <p>{{ person.name }}</p>
			      </div> -->
			      <div class="description">
			        2013: <b>7 tracks</b>
			      </div>
			    </div>
		  </div>	  	  
		</div>
<!-- 
		<div class="ui class three cards" >
	  
		</div>

		<div class="ui link three cards" >
	  
		</div> -->

		<!-- <p>Gracenote</p> -->
		<h2 class="ui header">
			<i class="calendar icon"></i>
		  <!-- <img src="/images/icons/plugin.png"> -->
		  <div class="content">
		    Upcoming Events
		    <div class="sub header">Follow up and see this person in other venues!</div>
		  </div>
		</h2>
		<div class="ui">
			<div class="ui list" ng-repeat="event in events.events.event | limitTo: 5" style="border-bottom: 1px solid whitesmoke; padding-bottom: 10px;">
				<div class="item">
				  <i class="info circle icon"></i>
				  <div class="content">
				    {{ event.title }}
				  </div>
				</div>
				<div class="item">
				  <i class="alarm outline icon"></i>
				  <div class="content">
				    {{ getDate(event.startDate) }}
				  </div>
				</div>
				<div class="item">
			    <i class="marker icon"></i>
			    <div class="content">
			      {{ event.venue.location.city }}, {{ event.venue.location.country }}
			    </div>


			  </div>
			  <div class="item">
			    <i class="linkify icon"></i>
			    <div class="content">
			      {{ getWeather(event.venue.location["geo:point"]["geo:lat"], event.venue.location["geo:point"]["geo:long"]) }} F
			    </div>
			  </div>
			  <div class="item">
			    <i class="users icon"></i>
			    <div class="content">
			    	<button class="ui small button" style="padding: 6px; margin-right: 4px; margin-bottom: 5px; background-color: rgba(235, 139, 125, 0.16);" ng-repeat="person in event.artists.artist | limitTo: 10;">
			    	  {{ person }}
			    	</button>
			      
			    </div>
			  </div>
			  <div class="item">
			    <i class="linkify icon"></i>
			    <div class="content">
			      <a href="{{ event.website }}">{{ event.website }}</a>
			    </div>
			  </div>
			</div>
		</div>
  	<!-- <h2 class="ui header">
  		<i class="shop icon"></i>
  	  <!-- <img src="/images/icons/plugin.png">
  	  <div class="content">
  	    Merchandise
  	    <div class="sub header"></div>
  	  </div>
  	</h2> 
  	<div class="ui middle aligned stackable grid container">
  		<div class="row">
			  <div class="your-class">
			    <div><img src="../img/assets/Merch/china1.png"></div>
			    <div><img src="../img/assets/Merch/china2.png"></div>
			    <div><img src="../img/assets/Merch/china3.png"></div>
			  </div>
			</div>
		</div> -->
		<h2 class="ui header">
			<i class="idea icon"></i>
		  <!-- <img src="/images/icons/plugin.png"> -->
		  <div class="content">
		    Artist Recommendations
		    <div class="sub header">Check out similar artists who might fit your taste</div>
		  </div>
		</h2>
		<div class="ui link three cards" >
		  <div class="card" ng-repeat="person in similarArtists.similarartists.artist | limitTo: 9">
		    <a href="http://{{ person.url }}" class="image" style="overflow:hidden;">
		      <img src="{{ person.image[3]['#text'] }}" style="height: 200px;">
		    </a>
			    <div class="content">
			      <div class="header">{{ place.name }}</div>
			      <div class="meta">
			        <p>{{ person.name }}</p>
			      </div>
			      <div class="description">
			        Match: <b>{{ toPercent(person.match) }}%</b>
			      </div>
			    </div>
		  </div>		  
		</div>
	</div>



<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
    <!-- SCRIPT TO GET WEATHER: need way to get city and state and concatenate into url to get result-->
<script>
// 	jQuery(document).ready(function($) {
// 	  $.ajax({
// 	  var loc={{event.venue.location.state}};
// 	  //var c={{event.venue.location.city}};
// 	  //url: "http://api.wunderground.com/api/c33cff0e71aab1f4/geolookup/conditions/q/"+loc+"/"+c+".json",
// 	  url : "http://api.wunderground.com/api/c33cff0e71aab1f4/geolookup/conditions/q/CA/San_Francisco.json",
// 	  dataType : "jsonp",
// 	  success : function(parsed_json) {
// 	  var location = parsed_json['location']['city'];
// 	  var temp_f = parsed_json['current_observation']['temp_f'];
// 	  alert("Current temperature in " + location + " is: " + temp_f +"F");
// 	  }
// 	  });
// });
</script>


</body>

</html>