<!doctype html>
<html ng-app="festival">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Follow Up</title>
    <link rel="shortcut icon" href="/img/assets/Logos/logo.png">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="lib/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" href="css/masterStyle.css">
    <script type="text/javascript" src="js/festival-ng.js"></script>
    <style>
    body {
    	background: rgba(255, 237, 216, 0.22);
      /*background: rgb(248, 237, 223);;*/
    }
    h1 {
    	color: rgb(230, 85, 13);

    }
    .ui.secondary.menu a.item:hover {
    	color: white;
    	background: rgba(226, 65, 43, 0.16);
    }
    </style>

</head>
<body ng-controller="festivalController">
	<!-- <div id="center-circle" style="width:180px; height:180px; background-image:url(../assets/kendrickLamar.png); border-radius: 100px; position: absolute; top: 303px; left:525px;"></div> -->
	<div id="banner-container">

		


		<div class="ui borderless secondary menu">
		  <div class="ui text container navbar">
		    <div href="#" class="header item">
		      <img class="logo" src="img/assets/Logos/logo.png">
		      &nbsp; Follow Up
		    </div>
		    <a href="/" class="item">Home</a>
		    <a href="/main" class="item">My Stats</a>
		    <a href="/festival" class="item">Overall Stats</a>
		    <div class="right menu">
		      <div class="ui item">
		        {{ user.fb.displayName }}
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="ui text container">
        <h1 style="display: inline-block; margin-right: 10px; font-size: 3em;">Overall Stats</h1> 
        <div class="ui statistics">
          <div class="statistic">
            <div class="text value">
              One<br>
              Thousand
            </div>
            <div class="label">
              Sign-ins
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="male icon"></i> 457
            </div>
            <div class="label">
              Male
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="female icon"></i> 543
            </div>
            <div class="label">
              Female
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="sound icon"></i>
              50
            </div>
            <div class="label">
              Bands
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="repeat icon"></i>
              23,000
            </div>
            <div class="label">
              Hours Spent
            </div>
          </div>
          
        </div>
	</div>

</body>

</html>