<!doctype html>
<html>
<head>
	<title>Follow Up</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/locationTracker.css">
	<link rel="stylesheet" type="text/css" href="../../public/lib/semantic-ui/dist/components/checkbox.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="../../public/lib/semantic-ui/dist/components/checkbox.js"></script>
</head>

<body>
	<div class="onoffswitch">
	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
	    <label class="onoffswitch-label" for="myonoffswitch">
	        <span class="onoffswitch-inner"></span>
	        <span class="onoffswitch-switch"></span>
	    </label>
	</div>
	<br>
	<br>
	<div class="ui toggle checkbox">
		<input type="checkbox" name="public">
 		<label class ="toggleLabel">Start Tracking</label>
	</div>
</body>
</html>